torch==2.4.1
torchvision==0.19.1
diffusers==0.30.3
transformers==4.44.2
gradio>=4.0.0
opencv-python
httpx==0.23.3
timm
einops
ftfy
facexlib
insightface
onnxruntime
onnxruntime-gpu; sys_platform != 'darwin'
onnxruntime-silicon; sys_platform == 'darwin'
accelerate
SentencePiece
safetensors
